# 数据转换

In [1]:
import numpy as np
import pandas as pd

#### 重复数据

In [5]:
df_obj =pd.DataFrame({'data1':['a']*4+['b']*4,
                      'data2':np.random.randint(0,4,8)})
df_obj

  data1  data2
0     a      0
1     a      2
2     a      2
3     a      0
4     b      3
5     b      2
6     b      0
7     b      1

In [6]:
#判断数据是否重复
df_obj.duplicated()

0    False
1    False
2     True
3     True
4    False
5    False
6    False
7    False
dtype: bool

In [7]:
df_obj.drop_duplicates()  #删除重复数据

  data1  data2
0     a      0
1     a      2
4     b      3
5     b      2
6     b      0
7     b      1

In [8]:
df_obj.drop_duplicates('data2')  #根据某列来删除重复数据

  data1  data2
0     a      0
1     a      2
4     b      3
7     b      1

#### map函数

In [9]:
ser_obj=pd.Series(np.random.randint(0,10,10))
ser_obj

0    4
1    1
2    8
3    8
4    9
5    1
6    3
7    2
8    7
9    0
dtype: int32

In [10]:
ser_obj.map(lambda x :x **2)

0    16
1     1
2    64
3    64
4    81
5     1
6     9
7     4
8    49
9     0
dtype: int64

#### 数据替换

In [11]:
#数据替换 replace


#  替换单个值
print(ser_obj)
ser_obj.replace(1,-100)

0    4
1    1
2    8
3    8
4    9
5    1
6    3
7    2
8    7
9    0
dtype: int32

0      4
1   -100
2      8
3      8
4      9
5   -100
6      3
7      2
8      7
9      0
dtype: int32

In [13]:
#替换多个值
ser_obj.replace([1,2],-101)

0      4
1   -101
2      8
3      8
4      9
5   -101
6      3
7   -101
8      7
9      0
dtype: int32

In [14]:
#替换多个值
ser_obj.replace([1,2],[-100,-101])

0      4
1   -100
2      8
3      8
4      9
5   -100
6      3
7   -101
8      7
9      0
dtype: int64