# Pandas数据操作

In [1]:
import pandas as pd

#### Series索引

In [2]:
ser_obj=pd.Series(range(5),index=['a','b','c','d','e'])
ser_obj.head()

a    0
b    1
c    2
d    3
e    4
dtype: int32

In [3]:
#行索引
print(ser_obj['a'])
print(ser_obj[0])

0
0

In [4]:
#切片索引
print(ser_obj[1:3])
print(ser_obj['a':'c'])  #文字索引包含下标

b    1
c    2
dtype: int32
a    0
b    1
c    2
dtype: int32

In [6]:
# 不连续索引j地 ，要访问的位置值放在第一个列表中
print(ser_obj[[0,2,4]])
print(ser_obj[ ['a','e'] ])

a    0
c    2
e    4
dtype: int32
a    0
e    4
dtype: int32

In [7]:
#布尔索引
ser_bool=ser_obj>2
print(ser_bool)
print(ser_obj[ser_bool])  #输出值为true的元素
print(ser_obj[ser_obj > 2])

a    False
b    False
c    False
d     True
e     True
dtype: bool
d    3
e    4
dtype: int32
d    3
e    4
dtype: int32

# DtaFrame索引

In [8]:
import numpy as np

df_obj=pd.DataFrame(np.random.randn(5,4),columns=['a','b','c','d'] )
print(df_obj.head() )

          a         b         c         d
0  0.303887 -0.918096  0.706475 -0.798749
1  0.953507 -1.215804  0.110282  0.621051
2  1.215579 -0.062005  0.655891  0.451961
3 -0.052904 -0.155125 -2.542448 -1.556310
4 -1.067502  0.203499 -0.560255 -1.083049

In [9]:
#索引取值方式
print(df_obj.index )# index 指的是 DataFrame中的行索引
print('根据列索引取值')
print(df_obj['a'])  #因为dataFrame是按列存储 所以可以直接  以列名来访问  列值
print('根据列索引取值后对应的数据类型为：',type(df_obj['a'] ) )

#不连续索引
print('不连续索引')
print(df_obj[ ['a','c'] ]  )

RangeIndex(start=0, stop=5, step=1)
根据列索引取值
0    0.303887
1    0.953507
2    1.215579
3   -0.052904
4   -1.067502
Name: a, dtype: float64
根据列索引取值后对应的数据类型为： <class 'pandas.core.series.Series'>
不连续索引
          a         c
0  0.303887  0.706475
1  0.953507  0.110282
2  1.215579  0.655891
3 -0.052904 -2.542448
4 -1.067502 -0.560255

#### 三种索引方式：.loc标签索引  .iloc位置索引   .ix 混合索引（先按标签索引尝试操作，然后在按位置索引尝试操作）

In [10]:
#标签索引 .loc
#Series
print(ser_obj['b':'d'] )
print(ser_obj.loc['b':'d'] )
print(ser_obj.iloc[1:4] )
print(ser_obj.ix[1:4] )
print(ser_obj.ix['b':'d'])

b    1
c    2
d    3
dtype: int32
b    1
c    2
d    3
dtype: int32
b    1
c    2
d    3
dtype: int32
b    1
c    2
d    3
dtype: int32
b    1
c    2
d    3
dtype: int32

In [11]:
#DataFrame
print(df_obj['a'] )
print(df_obj.loc[0:2,'a'] )  #如果按标签取的  则 起 : 止  其中 止 是包括的
print(df_obj.iloc[0:2,0])
print(df_obj.ix[0:2,0])

0    0.303887
1    0.953507
2    1.215579
3   -0.052904
4   -1.067502
Name: a, dtype: float64
0    0.303887
1    0.953507
2    1.215579
Name: a, dtype: float64
0    0.303887
1    0.953507
Name: a, dtype: float64
0    0.303887
1    0.953507
2    1.215579
Name: a, dtype: float64

In [12]:
# 整型位置索引  iloc
print(ser_obj[1:3] )
print(ser_obj.iloc[1:3] )

#DataFrame
print(df_obj.iloc[0:2,0])

b    1
c    2
dtype: int32
b    1
c    2
dtype: int32
0    0.303887
1    0.953507
Name: a, dtype: float64

In [14]:
#混合索引  ix
print(ser_obj.ix[1:3])
print(ser_obj.ix['b':'c'])


#DataFrame  
print(df_obj.ix[0:2,0])  #先按标签索引尝试操作  然后再按位置  索引尝试操作

b    1
c    2
dtype: int32
b    1
c    2
dtype: int32
0    0.303887
1    0.953507
2    1.215579
Name: a, dtype: float64

### 运算与对齐

In [15]:
s1=pd.Series(range(10,20),index=range(10)  )
s2=pd.Series(range(20,25),index=range(5)   )
print('s1:')
print(s1)


print( '   ')
print('s2:')
print(s2)

s1:
0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32

s2:
0    20
1    21
2    22
3    23
4    24
dtype: int32

In [16]:
#Series  对齐运算
s1+s2

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5     NaN
6     NaN
7     NaN
8     NaN
9     NaN
dtype: float64

In [17]:
import numpy as np

df1=pd.DataFrame( np.ones((2,2) ),columns=['a','b'] )
df2=pd.DataFrame( np.ones((3,3) ),columns=['a','b','c'] )

print(df1)

print('')

print(df2)

     a    b
0  1.0  1.0
1  1.0  1.0

     a    b    c
0  1.0  1.0  1.0
1  1.0  1.0  1.0
2  1.0  1.0  1.0

In [18]:
#DataFrame 对齐操作
df1+df2

     a    b   c
0  2.0  2.0 NaN
1  2.0  2.0 NaN
2  NaN  NaN NaN

In [19]:
#填充未对齐的数据进行运算
print(s1)
print(s2)

s1.add(s2,fill_value= -1 )  #将s2里面的值填充到对应的s1对应位置  没有值的位置将s1[index]-1

0    10
1    11
2    12
3    13
4    14
5    15
6    16
7    17
8    18
9    19
dtype: int32
0    20
1    21
2    22
3    23
4    24
dtype: int32

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5    14.0
6    15.0
7    16.0
8    17.0
9    18.0
dtype: float64

In [20]:
df1.sub(df2,fill_value=2.)

     a    b    c
0  0.0  0.0  1.0
1  0.0  0.0  1.0
2  1.0  1.0  1.0

In [21]:
#填充 Nan
s3=s1+s2

In [22]:
#填充 NaN 为 -1
s3_filled=s3.fillna(-1)
print(s3_filled)

0    30.0
1    32.0
2    34.0
3    36.0
4    38.0
5    -1.0
6    -1.0
7    -1.0
8    -1.0
9    -1.0
dtype: float64

In [23]:
df3=df2+df1

In [24]:
#inplace 指在原集合中改  不返回新的集合
df3.fillna(100,inplace=True)
print(df3)

       a      b      c
0    2.0    2.0  100.0
1    2.0    2.0  100.0
2  100.0  100.0  100.0

### 函数应用

In [27]:
# Numpy  ufunc 函数
import numpy as np
df=pd.DataFrame(np.random.rand(5,4) )

print(df)

          0         1         2         3
0  0.162946  0.069051  0.475994  0.052082
1  0.147073  0.465026  0.338103  0.918180
2  0.721842  0.783962  0.502306  0.311789
3  0.378670  0.494312  0.812136  0.053408
4  0.245683  0.090901  0.069706  0.665692

In [28]:
#使用apply应用行或列数据
def a(x):
    return x.max()

f = lambda x:x.max()

print(df.apply(a) )
print(df.apply(f) )

print( df.apply(lambda x:x.max()))   #默认应用到列上  可以通过 axis参数指定行与列

0    0.721842
1    0.783962
2    0.812136
3    0.918180
dtype: float64
0    0.721842
1    0.783962
2    0.812136
3    0.918180
dtype: float64
0    0.721842
1    0.783962
2    0.812136
3    0.918180
dtype: float64

In [29]:
#指定轴方向
print(df.apply(lambda x:x.max(),axis=1) )

0    0.475994
1    0.918180
2    0.783962
3    0.812136
4    0.665692
dtype: float64

In [30]:
#使用applymap应用到每个数据
f2 = lambda x:'%.2f' %x
print(df.applymap(f2) )

      0     1     2     3
0  0.16  0.07  0.48  0.05
1  0.15  0.47  0.34  0.92
2  0.72  0.78  0.50  0.31
3  0.38  0.49  0.81  0.05
4  0.25  0.09  0.07  0.67

# 排序

In [31]:
s4 = pd.Series(range(10,15),index= np.random.randint(5,size=5))
print(s4)

0    10
3    11
0    12
2    13
4    14
dtype: int32

In [32]:
#索引排序
s4.sort_index()

0    10
0    12
2    13
3    11
4    14
dtype: int32

In [35]:
df4=pd.DataFrame(np.random.randn(3,4),
                 index=np.random.randint(3,size=3),
                 columns=np.random.randint(4,size=4))
print(df4)

          2         2         3         1
1  0.372204 -0.210458  0.066393  0.229624
0  0.244836  0.995370 -2.480106  0.567206
1 -0.393971 -0.553150 -1.041694 -0.956008

In [36]:
#按行或列 排列  sort_index()
#df4.sort_index(ascending=False)
df4.sort_index(axis=1)  #列排序

          1         2         2         3
1  0.229624  0.372204 -0.210458  0.066393
0  0.567206  0.244836  0.995370 -2.480106
1 -0.956008 -0.393971 -0.553150 -1.041694

In [37]:
#按值排序  sort_value()
df4.sort_values(by=3)  #by  按列名排序

          2         2         3         1
0  0.244836  0.995370 -2.480106  0.567206
1 -0.393971 -0.553150 -1.041694 -0.956008
1  0.372204 -0.210458  0.066393  0.229624

# 处理缺失数据

In [38]:
df_data=pd.DataFrame( [np.random.randn(3),[1.,np.nan,np.nan],[4.,np.nan,np.nan],[1.,np.nan,2] ] )
df_data.head()

          0         1         2
0 -0.208701  0.416919  1.771116
1  1.000000       NaN       NaN
2  4.000000       NaN       NaN
3  1.000000       NaN  2.000000

In [39]:
# isnull
df_data.isnull()

       0      1      2
0  False  False  False
1  False   True   True
2  False   True   True
3  False   True  False

In [40]:
#dropna 
# df_data.dropna()  去掉所有的缺失值的行
df_data.dropna(axis=1)  #去掉所有缺失值的列

          0
0 -0.208701
1  1.000000
2  4.000000
3  1.000000

In [41]:
# fillna  填充
df_data.fillna(-100)

          0           1           2
0 -0.208701    0.416919    1.771116
1  1.000000 -100.000000 -100.000000
2  4.000000 -100.000000 -100.000000
3  1.000000 -100.000000    2.000000