# Pandas统计计算与描述

In [1]:
import numpy as np
import pandas as pd

#### 常用的统计计算

In [2]:
df_obj=pd.DataFrame( np.random.randn(5,4), columns=['a','b','c','d'] )
df_obj

          a         b         c         d
0 -2.385415 -0.697554 -0.978053 -0.815104
1 -0.600360  0.061495 -0.091062  0.021432
2 -0.201941  1.091226 -2.287691  0.032318
3  0.054010 -0.285266  0.041860 -0.225289
4 -0.172632 -1.953686 -0.374657  2.162701

In [3]:
print(df_obj.sum())  #可以通过axis来指定行或列  
print(df_obj.sum(axis=1))  #0 列  1行

a   -3.306337
b   -1.783784
c   -3.689603
d    1.176058
dtype: float64
0   -4.876126
1   -0.608495
2   -1.366088
3   -0.414684
4   -0.338273
dtype: float64

In [4]:
df_obj.max()

a    0.054010
b    1.091226
c    0.041860
d    2.162701
dtype: float64

In [5]:
df_obj.min(axis=1)

0   -2.385415
1   -0.600360
2   -2.287691
3   -0.285266
4   -1.953686
dtype: float64

In [6]:
df_obj.min(axis=0)

a   -2.385415
b   -1.953686
c   -2.287691
d   -0.815104
dtype: float64

#### 统计描述

In [7]:
df_obj.describe()

              a         b         c         d
count  5.000000  5.000000  5.000000  5.000000
mean  -0.661267 -0.356757 -0.737921  0.235212
std    0.992190  1.111646  0.951038  1.131073
min   -2.385415 -1.953686 -2.287691 -0.815104
25%   -0.600360 -0.697554 -0.978053 -0.225289
50%   -0.201941 -0.285266 -0.374657  0.021432
75%   -0.172632  0.061495 -0.091062  0.032318
max    0.054010  1.091226  0.041860  2.162701