# 时序处理

In [1]:
#1.日期和时间转换
import time
print( time.time() )  #系统时间
print( time.localtime() )
print( time.strftime('%Y-%m-%d %X',time.localtime() ) ) #格式化时间
print( time.mktime(time.localtime() ) )      #将系统时间转为时间轴

1554605544.8326252
time.struct_time(tm_year=2019, tm_mon=4, tm_mday=7, tm_hour=10, tm_min=52, tm_sec=24, tm_wday=6, tm_yday=97, tm_isdst=0)
2019-04-07 10:52:24
1554605544.0

In [2]:
#2.用datetime函数创建时间序列
import datetime
import numpy as np
import pandas as pd
pd.date_range(datetime.datetime(2017,1,1),periods=31)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-14', '2017-01-15', '2017-01-16',
               '2017-01-17', '2017-01-18', '2017-01-19', '2017-01-20',
               '2017-01-21', '2017-01-22', '2017-01-23', '2017-01-24',
               '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-28',
               '2017-01-29', '2017-01-30', '2017-01-31'],
              dtype='datetime64[ns]', freq='D')

In [3]:
pd.date_range('2017-1-1',periods=31)

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10', '2017-01-11', '2017-01-12',
               '2017-01-13', '2017-01-14', '2017-01-15', '2017-01-16',
               '2017-01-17', '2017-01-18', '2017-01-19', '2017-01-20',
               '2017-01-21', '2017-01-22', '2017-01-23', '2017-01-24',
               '2017-01-25', '2017-01-26', '2017-01-27', '2017-01-28',
               '2017-01-29', '2017-01-30', '2017-01-31'],
              dtype='datetime64[ns]', freq='D')

In [4]:
#按小时生成序列
pd.date_range('2017-1-1 00:00','2017-5-1 12:00',frep='H')

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-04-22', '2017-04-23', '2017-04-24', '2017-04-25',
               '2017-04-26', '2017-04-27', '2017-04-28', '2017-04-29',
               '2017-04-30', '2017-05-01'],
              dtype='datetime64[ns]', length=121, freq='D')

In [5]:
# index 是时序
ts1=pd.Series(np.arange(31),index=pd.date_range('2017-1-1',periods=31))
ts1.head()

2017-01-01    0
2017-01-02    1
2017-01-03    2
2017-01-04    3
2017-01-05    4
Freq: D, dtype: int32

In [7]:
#按时间索引找数据
ts1['2017-1-3']

2

In [8]:
ts1.index[2]

Timestamp('2017-01-03 00:00:00', freq='D')

In [10]:
#取出第二个索引对应的年月日
ts1.index[2].year,ts1.index[2].month,ts1.index[2].day

(2017, 1, 3)

# 案例

In [11]:
#针对天气数据做时序分析
data=pd.read_csv('E:/yc_55/hz_weather.csv')
df=data[['日期','最高气温','最低气温'] ]
df.head()

           日期  最高气温  最低气温
0  2017-01-01    17     7
1  2017-01-02    16     8
2  2017-01-03    15     8
3  2017-01-04    15    11
4  2017-01-05    13    11

In [12]:
#修改日期的格式  将日期设为索引  原来的  df中的日期列是一个字符串
df.日期=pd.to_datetime(df.日期.values,format='%Y-%m-%d')
df=df.set_index('日期')
df.index[0]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:3110: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

Timestamp('2017-01-01 00:00:00')

In [13]:
df.head(2)

            最高气温  最低气温
日期
2017-01-01    17     7
2017-01-02    16     8

In [14]:
df.index<'2017-2-1'

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False, False], dtype=bool)

In [15]:
df_jan=df[(df.index>='2017-1-1')&(df.index<'2017-2-1')]
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31 entries, 2017-01-01 to 2017-01-31
Data columns (total 2 columns):
最高气温    31 non-null int64
最低气温    31 non-null int64
dtypes: int64(2)
memory usage: 744.0 bytes

In [16]:
#设置起止日期
df1_jan=df['2017-1-1':'2017-1-31']
df1_jan.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 31 entries, 2017-01-01 to 2017-01-31
Data columns (total 2 columns):
最高气温    31 non-null int64
最低气温    31 non-null int64
dtypes: int64(2)
memory usage: 744.0 bytes

In [17]:
#只读取月份
df.to_period('M')

         最高气温  最低气温
日期
2017-01    17     7
2017-01    16     8
2017-01    15     8
2017-01    15    11
2017-01    13    11
2017-01    12    10
2017-01    11     9
2017-01    12     5
2017-01    11     4
2017-01     9     4
2017-01     8     5
2017-01     7     4
2017-01    10     1
2017-01    10     2
2017-01     8     2
2017-01     9     2
2017-01    11     7
2017-01     8     6
2017-01     8     0
2017-01     6    -3
2017-01     7    -1
2017-01     8    -2
2017-01     8    -1
2017-01     9     3
2017-01    10     2
2017-01    13     3
2017-01    13     5
2017-01    17     7
2017-01    20     4
2017-01     8     0
...       ...   ...
2017-04    17     6
2017-04    22    10
2017-04    23    12
2017-04    25    15
2017-04    26    16
2017-04    27    18
2017-04    21    16
2017-04    26    14
2017-04    14    10
2017-04    13    11
2017-04    15    11
2017-04    19     8
2017-04    23    11
2017-04    28    16
2017-04    31    17
2017-04    30    21
2017-04    25    16
2017-04    29    16
2017-04    28    18
2017-04    25    16
2017-04    23    12
2017-04    23    12
2017-04    24    12
2017-04    27    16
2017-04    26    17
2017-04    19    13
2017-04    21    11
2017-04    26    13
2017-04    29    15
2017-04    29    16

[118 rows x 2 columns]

In [ ]:
df_month=df.to_period('M')