In [2]:
import numpy as np
import pandas as pd
data={'color':['blue','green','yellow','red','white'],'object':['ball','pen','pencil','paper','mug'],'price':[1.2,1.0,0.6,0.9,1.7]}
frame=pd.DataFrame(data)
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [3]:
#可以自己指定创建的列
frame2=pd.DataFrame(data,columns=['object','price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [4]:
#也可以自己指定索引
frame2=pd.DataFrame(data,index=['one','two','three','four','five'])
frame2

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [5]:
frame3=pd.DataFrame(np.arange(16).reshape((4,4)),index=['blue','green','yellow','red'],columns=['ball','pen','pencil','paper'])
frame3

        ball  pen  pencil  paper
blue       0    1       2      3
green      4    5       6      7
yellow     8    9      10     11
red       12   13      14     15

In [6]:
frame3.index

Index(['blue', 'green', 'yellow', 'red'], dtype='object')

In [7]:
#取值
frame3.values

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11],
       [12, 13, 14, 15]])

In [8]:
#取某一列
frame3['ball']

blue       0
green      4
yellow     8
red       12
Name: ball, dtype: int32

In [9]:
frame.color

0      blue
1     green
2    yellow
3       red
4     white
Name: color, dtype: object

In [10]:
#取DataFrame中的行 用 ix 属性和行的索引就能取到
frame3.iloc[2]

ball       8
pen        9
pencil    10
paper     11
Name: yellow, dtype: int32

In [11]:
#指定多个索引
frame3.iloc[[0,2]]

        ball  pen  pencil  paper
blue       0    1       2      3
yellow     8    9      10     11

In [12]:
frame3.iloc[0:4]

        ball  pen  pencil  paper
blue       0    1       2      3
green      4    5       6      7
yellow     8    9      10     11
red       12   13      14     15

In [13]:
#取一个元素的值
frame3['ball']['red']

12

In [14]:
#赋值  上面已经用到了index 指定索引数组  用columns属性指定列名和行 也可以用name为这2个二级的结构指定标签
frame.index.name='id'
frame.columns.name='item'
frame

item   color  object  price
id
0       blue    ball    1.2
1      green     pen    1.0
2     yellow  pencil    0.6
3        red   paper    0.9
4      white     mug    1.7

In [15]:
#改一列的值
frame['name']=12
frame

item   color  object  price  name
id
0       blue    ball    1.2    12
1      green     pen    1.0    12
2     yellow  pencil    0.6    12
3        red   paper    0.9    12
4      white     mug    1.7    12

In [16]:
#使用series来更新
ser=pd.Series(np.arange(5))
ser

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [17]:
frame['name']=ser
frame

item   color  object  price  name
id
0       blue    ball    1.2     0
1      green     pen    1.0     1
2     yellow  pencil    0.6     2
3        red   paper    0.9     3
4      white     mug    1.7     4

In [18]:
#为单个元素改值
frame['price'][2]=440
frame

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

item   color  object  price  name
id
0       blue    ball    1.2     0
1      green     pen    1.0     1
2     yellow  pencil  440.0     2
3        red   paper    0.9     3
4      white     mug    1.7     4

In [19]:
#元素的从属关系
frame.isin([1.0,'price'])   #1.0表示元素

item  color  object  price   name
id
0     False   False  False  False
1     False   False   True   True
2     False   False  False  False
3     False   False  False  False
4     False   False  False  False

In [20]:
#删除一行
del frame['object']
frame

item   color  price  name
id
0       blue    1.2     0
1      green    1.0     1
2     yellow  440.0     2
3        red    0.9     3
4      white    1.7     4

In [21]:
#删选条件
frame[frame<4]

item   color  price  name
id
0       blue    1.2   0.0
1      green    1.0   1.0
2     yellow    NaN   2.0
3        red    0.9   3.0
4      white    1.7   NaN

In [22]:
#用嵌套字典生在DataFrame对象 外部的键生成列的名称  内部的键解释为索引的标签
nestdict={'red':{2012:22,2013:24},'white':{2011:20,2012:22,2013:24},'blue':{2011:20,2012:22,2013:24}}
frame2=pd.DataFrame(nestdict)
frame2

      blue   red  white
2011    20   NaN     20
2012    22  22.0     22
2013    24  24.0     24

In [23]:
#转置
frame2.T

       2011  2012  2013
blue   20.0  22.0  24.0
red     NaN  22.0  24.0
white  20.0  22.0  24.0

In [24]:
#index对象  轴标签  或其他用作轴的名称的元素数据，就储存为index对象  通过指定构造函数的index选项将储存多个标签的数组转化为index对象
ser=pd.Series([5,0,3,8,4],index=['blue','green','yellow','red','white'])
ser.index
#跟pandas里面不一样的是  index对象无法改变  声明后  他不能改变每个index对象有很多方法与属性
#index对象的方法：idxmin()  idxmax()

Index(['blue', 'green', 'yellow', 'red', 'white'], dtype='object')

In [25]:
ser.idxmax()

'red'

In [26]:
ser.idxmin()

'green'

In [27]:
ser

blue      5
green     0
yellow    3
red       8
white     4
dtype: int64

In [28]:
#如果一个标签里面对应多个元素是，我们将得到一个Series的对象而不是单个元素
ser=pd.Series([5,0,3,8,4,44],index=['blue','green','yellow','red','white','red'])
ser2=ser['red']
ser2

red     8
red    44
dtype: int64

In [29]:
#以上逻辑也适用于索引中存在重复项的DataFrame 其返回值为DataFrame对象
#数据结构很小时，识别索引的重复项很容易  但数据结构增大后 难度也在增加
#pandas的index对象还有is_unqiue属性 调用这个属性 就可以知道数据结构中是否存在重复的索引项
ser2.index.is_unique

False

In [30]:
frame.index.is_unique

True

In [31]:
#与python常用的数据相比pandas不仅利用了numpy数组的高性能  还整合了索引机制
#下面详细的分析几种使用所用机制实现基础操作  1.更换索引  2.删除  3.对齐
#更换索引   前面提过 数据结构一旦声明  index对象就不能改变  但是执行更换索引操作就可以解决这个问题
#事实上 重新定索引后  ， 就能够用现有的数据生成一个新的数据结构
ser=pd.Series([2,5,6,7],index=['one','two','three','four'])
ser

one      2
two      5
three    6
four     7
dtype: int64

In [33]:
ser.reindex(['one','three','four','five'])

one      2.0
three    6.0
four     7.0
five     NaN
dtype: float64

In [35]:
#重新编译索引，定义所有的标签序列可能会有麻烦，对大型的DataFrame更是如此  但 我们可以使用自动填充或插入值的方法
ser3=pd.Series([1,5,3,6],index=[0,3,5,8])
ser3

0    1
3    5
5    3
8    6
dtype: int64

In [36]:
#注意以上索引列并不完整 有缺失值 常见的需求为差值   已得到一个完整的序列  方法是用reindex()函数 method 选项的值为ffill
ser3.reindex(range[9],method='ffill')

TypeError: 'type' object is not subscriptable