In [1]:
import pandas as pd
import numpy as np

In [2]:
X=pd.read_csv("train.csv")

In [3]:
X.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [4]:
X.info()  #可以看出   Age ,Embarked 少了

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
result=X["Survived"]   # 答案
premise=X.drop(['PassengerId','Name','Ticket','Cabin','Survived','Fare'],axis=1)
premise['Age'].fillna(premise['Age'].mean(),inplace=True)
# premise.groupby('Embarked').count()  #对其进行计数 
premise['Embarked'].fillna(3,inplace=True)

print(result.head())
premise.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

   Pclass     Sex   Age  SibSp  Parch Embarked
0       3    male  22.0      1      0        S
1       1  female  38.0      1      0        C
2       3  female  26.0      0      0        S
3       1  female  35.0      1      0        S
4       3    male  35.0      0      0        S

In [6]:
premise.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 6 columns):
Pclass      891 non-null int64
Sex         891 non-null object
Age         891 non-null float64
SibSp       891 non-null int64
Parch       891 non-null int64
Embarked    891 non-null object
dtypes: float64(1), int64(3), object(2)
memory usage: 41.8+ KB

In [5]:
#fare=X[["Pclass","Fare"]]
#fare[(fare["Pclass"]==1)].mean()[1] 
#fare.loc[fare["Fare"]>=fare[(fare["Pclass"]==1)].mean()[1]]=1    把 大于  Pclass 列为1  的均值 的这一行全部 取 1代替

In [6]:
# Embarked 地点  进行  C = 1  Q = 2 S = 3   male = 0  female = 1
premise['Embarked'].replace('C',1,inplace=True)
premise['Embarked'].replace('Q',2,inplace=True)
premise['Embarked'].replace('S',3,inplace=True)
premise['Sex'].replace('male',0,inplace=True)
premise['Sex'].replace('female',1,inplace=True)
premise.head()  #将 性别,地点 用数字进行代表可以方便计算

   Pclass  Sex   Age  SibSp  Parch  Embarked
0       3    0  22.0      1      0         3
1       1    1  38.0      1      0         1
2       3    1  26.0      0      0         3
3       1    1  35.0      1      0         3
4       3    0  35.0      0      0         3

In [7]:
#最后这里将年龄进行一个分类 不然会影响结果  [0,16) = 0  [16,30) 1  [30  50)  2   [50 ~] 3
premise.loc[(premise["Age"]<16),'Age']=0
premise.loc[(premise["Age"]>=16) & (premise["Age"]<30),'Age']=1
premise.loc[(premise["Age"]>=30) & (premise["Age"]<50),'Age']=2
premise.loc[(premise["Age"]>=50),'Age']=3
premise.head()

   Pclass  Sex  Age  SibSp  Parch  Embarked
0       3    0  1.0      1      0         3
1       1    1  2.0      1      0         1
2       3    1  1.0      0      0         3
3       1    1  2.0      1      0         3
4       3    0  2.0      0      0         3

In [9]:
#由于基本都已经数据化了   knn 
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier
X_train,X_test,y_train,y_test=train_test_split(premise.values,result,test_size=0.1,random_state=33)

dis_knr=KNeighborsClassifier(weights='distance')
dis_knr.fit(X_train,y_train)
dis_knr_y_predict=dis_knr.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [10]:
print(dis_knr.score(X_train,y_train))
print(dis_knr.score(X_test,y_test))

0.865168539326
0.811111111111

In [14]:
# 开始调参
from sklearn.model_selection import GridSearchCV
ps=[1,2,10]
ks=[i for i in range(1,30)]
ws=['uniform','distance']  #指定权重算法
par_grid={'p':ps,'n_neighbors':ks,'weights':ws}
clf=GridSearchCV(KNeighborsClassifier(),par_grid,cv=5)  #cv表示5折交叉
clf.fit(X_train,y_train)

print('最佳效果:%0.3f'%clf.best_score_)
print('最优参数组合:')
best_parameters=clf.best_estimator_.get_params()
for par_name in sorted(par_grid.keys()):
    print('\t%s:%r'%(par_name,best_parameters[par_name]))

最佳效果:0.828
最优参数组合:
	n_neighbors:29
	p:1
	weights:'uniform'

In [15]:
clf=KNeighborsClassifier(p=1,n_neighbors=29,weights='uniform')
clf.fit(X_train,y_train)
y_predict=clf.predict(X_test)

In [28]:
def myMse(ytest,ypredict):
    err=[]
    n=len(ypredict)
    for i in range(n):
        err.append(ytest[i]-ypredict[i])
    mse=sum(np.power(err,2))/n
    return mse
print('自定义的均方误差：',myMse(y_test.get_values(),y_predict))

自定义的均方误差： 0.211111111111

In [30]:
#开始写提交代码
Y=pd.read_csv("test.csv")
Y=Y.drop(['PassengerId','Name','Ticket','Cabin','Fare'],axis=1)
Y['Age'].fillna(Y['Age'].mean(),inplace=True)
# premise.groupby('Embarked').count()  #对其进行计数 
Y['Embarked'].fillna(3,inplace=True)
Y['Embarked'].replace('C',1,inplace=True)
Y['Embarked'].replace('Q',2,inplace=True)
Y['Embarked'].replace('S',3,inplace=True)
Y['Sex'].replace('male',0,inplace=True)
Y['Sex'].replace('female',1,inplace=True)
Y.loc[(Y["Age"]<16),'Age']=0
Y.loc[(Y["Age"]>=16) & (Y["Age"]<30),'Age']=1
Y.loc[(Y["Age"]>=30) & (Y["Age"]<50),'Age']=2
Y.loc[(Y["Age"]>=50),'Age']=3
Y.head()

   Pclass  Sex  Age  SibSp  Parch  Embarked
0       3    0  2.0      0      0         2
1       3    1  2.0      1      0         3
2       2    0  3.0      0      0         2
3       3    0  1.0      0      0         3
4       3    1  1.0      1      1         3

In [31]:
y_predict=clf.predict(Y.values)

In [36]:
import csv
fileobj=open("submit_knn.csv",'w',newline ='')
writer=csv.writer(fileobj,dialect='excel')
Y=pd.read_csv("test.csv")
result={}
i=0
for label in Y["PassengerId"]:
    result[label]=y_predict[i]
    i=i+1
    
writer.writerow(['PassengerId','Survived'])
writer.writerows(result.items())
fileobj.close()

In [15]:
#  贝叶斯
from sklearn import naive_bayes
from sklearn import metrics
gas=naive_bayes.GaussianNB()
gas.fit(X_train,y_train)
y_predit=gas.predict(X_test)

cm=pd.crosstab(y_predict,y_test)
cm

Survived   0   1
row_0
0         42  13
1         10  25

In [17]:
print('模型的准确率为：\n',metrics.accuracy_score(y_test, y_predict))
print('模型的评估报告：\n',metrics.classification_report(y_test, y_predict))

模型的准确率为：
 0.744444444444
模型的评估报告：
              precision    recall  f1-score   support

          0       0.76      0.81      0.79        52
          1       0.71      0.66      0.68        38

avg / total       0.74      0.74      0.74        90